---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const tools = await getCollection('tools');
  return tools.map(tool => ({
    params: { slug: tool.slug }, props: { tool },
  }));
}

interface Props {
  tool: CollectionEntry<'tools'>;
}

const { tool } = Astro.props;
const { Content } = await tool.render();
---

<Layout title={`Tool: ${tool.data.title}`}>
  <article>
    <h1>{tool.data.title}</h1>
    <Content />
  </article>
</Layout>
