---
import Layout from '../layouts/Layout.astro';
import ExperiencesSection from '../components/ExperiencesSection.astro';
---

<Layout title="Experience - Kausthubh Nandimandalam">
  <main>
    <ExperiencesSection />
  </main>
</Layout>
